<!DOCTYPE html>
<html>
<head>
	<title>Easy</title>
	<script type="text/javascript" src="/easyScript.js"></script>
</head>
<body>
<img class = "pic" src="/waldoEasy.png" width = "1000">
<br>
<a href = "/home">Go Home</a>

</body>
</html>