<!DOCTYPE html>
<html>
<head>
	<title>Hard</title>
	<script type="text/javascript" src="/hardScript.js"></script>
</head>
<body>
<img class = "pic" src="waldoHard.jpg" width="1000" >
<br>
<a href = "/home">Go Home</a>
</body>
</html>


