<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
	<script type="text/javascript" src="/script.js"></script>
</head>
<body>
<h1 class = "title">Welcome!</h1>
<h2 class = "title">It is time for you to try and find Waldo!</h2>
<h3 class = "title">Choose your difficulty</h3>
<a href = "/easy"><img class = "waldoThumb" src="waldoEasy.png" height="200"></a>
<br>
<br>
<a href = "/hard"><img class = "waldoThumb" src="waldoHard.jpg" height="200"></a>
</body>
</html>